body{

    background-image:url(background.jpg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}   

         
.btn-grad {
    background-image: linear-gradient(to right, #34e89e 0%, #0f3443  51%, #34e89e  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    font-size:45px;
    color:whitesmoke;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 

  .btn-success:hover{
    background-color:crimson;
    transform:scale3d(1.2,1.2,1.2)
  }

  canvas
  {
   animation-name:clown;
   animation-duration: 4s;
   animation-iteration-count: infinite;
  }
  





  @keyframes clown {
    from{box-shadow: 5px 5px 30px crimson;}
    50%{box-shadow: -5px 5px 30px rgb(0, 255, 13);}
    to{box-shadow: -5px -5px 30px rgb(89, 0, 255);}
  }